body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #fafafa;
}

header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.logo {
  display: flex;
  align-content: center;
  padding-top: 5.48px;
  padding-bottom: 5.48px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.logo-text {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin-right: 4px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 32px;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-item {
  position: relative;
  display: inline-block;
  margin-right: 24px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.nav-item:hover::before {
  left: 0;
  right: 0;
  transition: right 400ms;
}
.nav-item::before {
  background-color: black;
  bottom: 0;
  content: "";
  height: 0.5px;
  left: 100%;
  position: absolute;
  right: 100%;
  transition: right 0s 400ms, left 400ms;
}
.social {
  display: flex;
  align-items: center;
  margin-left: 90px;
}
.social-item {
  display: inline-block;
  text-align: center;
  margin-right: 14px;
}
.social-item {
  transition: transform 0.3s ease;
}
.social-item:hover {
  transform: scale(1.2);
}
.nav-item:last-child,
.social-item:last-child {
  margin-right: 0;
}
.start {
  border-radius: 30px;
  width: 1136px;
  height: 600px;
  background-image: url(./images/chocolate_main.jpg);
  padding: 0;
}
.text-start {
  color: white;
  font-weight: 500;
  font-size: 28px;
  margin: 381px 612px 32px 40px;
}
.btns {
  display: flex;
  margin: 0px 40px 40px 40px;
}

.btns-item1 {
  background-color: #fd9222;
  text-decoration: none;
  height: 45px;
  border-radius: 50px;
  border: 0;
  padding: 14px 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
  margin-right: 14px;
}

.btns-item1:hover {
  transform: scale(1.1);
}
.btns-item1 {
  transition: transform 0.5s ease;
}
.btns-item2 {
  background-color: transparent;
  text-decoration: none;
  height: 45px;
  border-radius: 50px;
  border: 1px solid white;
  padding: 14px 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
  margin-right: 655px;
}
.btns-item2:hover {
  transform: scale(1.1);
}
.btns-item2 {
  transition: transform 0.5s ease;
}
.btns-item3 {
  background-color: transparent;
  text-decoration: none;
  height: 45px;
  border-radius: 50px;
  border: 0px;
}
.btns-item3:hover {
  transform: scale(1.2);
}
.btns-item3 {
  transition: transform 0.5s ease;
}
.benefits {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: #1e1823;
  margin-top: 80px;
}
.benefits-item {
  color: white;
  display: inline-block;
  text-align: left;
  margin: 50px 88px 50px 0px;
}

.benefits-item:first-child {
  margin-left: 50px;
}
.benefits-item:last-child {
  margin-right: 50px;
}
.benefits-item-head {
  font-weight: 600;
  font-size: 18px;
}
.benefits-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(255, 255, 255, 0.7);
}
.ingridients {
  margin-top: 120px;
  margin: 120px 32px 120px 32px;
}
.ingridients-info {
  margin: 0px 325px 50px 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ingridients-text-head {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.ingridients-text-head-span {
  color: #fd9222;
}
.ingridients-text-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #111;
}

.ingridients-item1 {
  background-color: #fd9222;
  border-radius: 15px;
  width: 260px;
  height: 270px;
  display: flex;
  flex-direction: column;
}
.ingridients-item-img {
  margin: 28px 23px 0 23px;
}
.ingridients-item1-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: #fff;
  margin: 28px 0px 28px 28px;
}
.ingridients-item2 {
  background-color: white;
  border-radius: 15px;
  border: 1px solid #fd9222;
  width: 260px;
  height: 270px;
  display: flex;
  flex-direction: column;
}
.ingridients-item2-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: black;
  margin: 28px 0px 28px 28px;
}
.ingridients-item3 {
  background-color: #1e1823;
  border-radius: 15px;
  width: 260px;
  height: 270px;
  display: flex;
  flex-direction: column;
}
.ingridients-item3-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: white;
  margin: 28px 0px 28px 28px;
}
.ingridients-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.process {
  margin: 0px 32px 120px 32px;
}
.process-head {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.process-head-span {
  color: #fd9222;
}
.process-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin-top: 78px;
}
.process-info-text {
  margin-left: 20px;
  padding: 32px;
}
.process-info-head {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  margin: 0 102px 28px 0;
}
.process-info-list {
  font-weight: 400;
  font-size: 14px;
  gap: 30px;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.products {
  margin: 0 32px 120px 32px;
}
.products-head {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.products-head-span {
  color: #fd9222;
}
.products-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 18px;
  margin-top: 78px;
}
.products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 270px;
  height: 364px;
  background: #fff;
}
.products-item-title {
  margin: 8px 41px 2px 41px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
.products-item-text {
  margin: 0 80px 10px 80px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-item-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px 88px 32px 88px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  width: 94px;
  height: 33px;
  background: #fafafa;
  font-weight: 600;
  font-size: 14px;
  color: #111;
}
.top-sellers {
  margin: 0 32px 120px 32px;
}
.top-sellers-head {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.top-sellers-head-span {
  color: #fd9222;
}
.top-sellers-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
}
.top-sellers-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.top-sellers-title {
  margin-top: 28px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 32px 120px 32px;
}
.review-head {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.review-head-span {
  color: #fd9222;
}
.review-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 16px;
  margin: 50px 0;
}
.review-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.review-img {
  border-radius: 100%;
  margin-bottom: -40px;
  z-index: 10;
}

.review-item-p {
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  width: 360px;
  height: 200px;
}
.review-name {
  margin-top: 55px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
}
.review-text {
  margin: 0 25px 25px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.review-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fd9222;
  background-color: transparent;
  border-radius: 100px;
  padding: 14px 40px;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #111;
}
.review-btn:hover {
  transform: scale(1.1);
}
.review-btn {
  transition: transform 0.5s ease;
}
footer {
  background: #1e1823;
}
.contacts-head {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
}
.contacts-head-span {
  color: #fd9222;
}
.socialnet-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fff;
}
address {
  font-style: normal;
}
.add-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fff;
}
.add-list {
  list-style-type: none;
}
.add-list-item {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
}
.navigation-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 32px;
}
.foot-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 54px;
}
.contacts-head {
  display: inline-block;
  margin-right: 32px;
  width: 300px;
}
.contacts {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.add-list-item:hover {
  color: rgb(182, 182, 182);
}
.socialnet-link {
  display: inline-block;
  text-align: center;
  margin-right: 14px;
}
.socialnet-link {
  transition: transform 0.3s ease;
}
.socialnet-link:hover {
  transform: scale(1.2);
}
.socialnet-link:last-child {
  margin-right: 0;
}
.foot-line {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 0px;
  margin-bottom: 24px;
}
.navigation {
  display: flex;
  gap: 24px;
}
.navigation-link {
  position: relative;
  display: inline-block;
}
.navigation-link:hover::before {
  left: 0;
  right: 0;
  transition: right 400ms;
}
.navigation-link::before {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  content: "";
  height: 0.5px;
  left: 100%;
  position: absolute;
  right: 100%;
  transition: right 0s 400ms, left 400ms;
}
